/*font-family: 'Nothing You Could Do', cursive;*/
/*font-family: 'Josefin Sans', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    color: #efefef;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.3s;
    font-family: "Josefin Sans", sans-serif;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
}

body {
    overflow-x: hidden;
    background: #111111;
}

header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to Left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url(img/back-pic.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 4%;
}

header nav {
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    position: relative;
    top: 1px;
    width: 10rem;
    cursor: pointer;
}

header nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav button {
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    color: #212121;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

header nav button i {
    color: #cea570;
    position: relative;
    right: 7px;
    top: 1px;
}

header nav a+i {
    font-size: 2rem;
    color: #cea570;
    cursor: pointer;
    margin-left: 1.5rem;
}

header .content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10rem 5rem;
    text-align: center;
}

header .content a#insta {
    background: linear-gradient(to Right,
            #810ce8,
            #fd02c5,
            #ff0d4c,
            #fe7103,
            #fdc300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-heading {
    color: #7099ce;
    font-size: 2.5rem;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 100;
    animation-delay: 0.5s;
}

.heading {
    font-size: 4rem;
    padding: 0.5rem 0;
    animation-delay: 1.25s;
}

header .content h4 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0.2rem;
    animation-delay: 2.5s;
}

header .content h4 span a {
    text-transform: none;
    color: #cea570;
    font-weight: 700;
    animation-delay: 2.5s;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.95);
    overflow-x: hidden;
    padding-top: 6rem;
    transition: 0.5s;
    text-align: center;
}

.sidenav a {
    font-size: 2.3rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding: 0.8rem 0;
    font-family: "Nothing You Could Do", cursive;
}

.sidenav a:hover {
    color: #7099ce;
}

.sidenav .closebtn {
    position: absolute;
    top: 0.5rem;
    right: 3.3rem;
    font-size: 2rem;
    cursor: pointer;
}

section {
    padding: 5rem 4%;
}

section .heading,
section .sub-heading {
    text-align: center;
}

.our-mission p {
    padding: 1rem 10%;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 200;
    text-align: justify;
}

::selection {
    background: black;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: .5rem;
    margin-top: 3rem;
    margin-left: 2rem;
}

.team-members img {
    margin-bottom: 1rem;
}

.team-members h3 {
    font-size: 1.5rem;
    padding: .3rem 0;
    font-weight: 500;
    letter-spacing: .1rem;
}

.team-members h4 {
    font-weight: 300;
    font-style: italic;
    padding-bottom: .5rem;
}

.why-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10rem;
}

.why-us .content {
    flex-basis: 50%;
    padding: 2rem 2rem;
}

.why-us .content h3 {
    color: #cea570;
    font-size: 2.5rem;
    font-family: 'Nothing You Could Do', cursive;
}

.why-us .content h2 {
    font-size: 3rem;
    padding: .5rem 0;
}

.why-us .content p {
    line-height: 1.5;
}

.why-us .content p#first-para {
    padding-bottom: 7%;
}

.why-us .image{
    flex-basis: 50%;
    text-align: right;
}

.why-us .image img {
    width: 80%;
}

.apply {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.apply .image {
	flex-basis: 50%;
}

.apply .image img {
	width: 90%;
}

.apply .content {
	flex-basis: 50%;
	padding: 2rem 2rem;
}

.apply .content h3 {
	color: #cea570;
	font-size: 2.5rem;
	font-family: 'Nothing You Could Do', cursive;
	font-weight: 100;
}

.apply .content h2 {
	font-size: 3rem;
	padding: .5rem 0;
}

.apply .content p {
	line-height: 1.5;
}

.apply .content a {
    color: #7099ce;
}

.footer-section .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: center;
    gap: .5rem;
}

.footer-section .footer img {
    opacity: .5;
    width: 60%;
    cursor: pointer;
}

.footer-section .footer h3 {
    font-weight: 500;
    padding: .5rem 0;
}

.footer-section .footer h4 {
    line-height: 1.5;
    letter-spacing: .1rem;
    font-weight: 300;
}

.footer-section .footer-icon {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.footer-section .footer-icon ul {
    list-style-type: none;
    display: flex;
}

.footer-section .footer-icon ul li i {
    cursor: pointer;
    margin: 0 1rem;
    font-size: 1.5rem;
}

.footer-section .footer-icon ul li i#gmail:hover {
    background: linear-gradient(to Right,
    #4285f4,
    #c5221f,
    #ea4335,
    #fbbc04,
    #34a853);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-section .footer-icon ul li i#instagram:hover {
    background: linear-gradient(to Left,
    #810ce8,
    #fd02c5,
    #ff0d4c,
    #fe7103,
    #fdc300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-section .footer-icon ul li i#tiktok:hover {
    background: linear-gradient(to Left, 
    #33b9bb,
    #df0b4c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1030px) {
    .why-us .image img {
        position: relative;
        top: 10%;
    }

    .team-members {
        margin-left: 0;
    }

}

@media screen and (max-width: 1000px) {
    .why-us .image img {
        position: relative;
        top: 15%;
    }
}

@media screen and (max-width: 950px) {
    .why-us .image img {
        position: relative;
        top: 15%;
    }
}

@media screen and (max-width: 900px) {
    .why-us .image img {
        position: relative;
        top: 20%;
    }

    .apply .image img {
        position: relative;
        top: 7.5%;
    }
}

@media screen and (max-width: 850px) {
    html {
        font-size: 90%;
    }

    header {
        height: auto;
        text-align: center;
    }

    .team-members {
        text-align: center;
    }

    .why-us {
        display: block;
        text-align: center;
    }

    .why-us .image {
        text-align: center;
        padding-top: 2rem;
    }

    .apply {
		display: block;
		text-align: center;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 80%;
    }

    header .content h4 span {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 65%;
    }

    .team-members {
        display: block;
    }

    .why-us .image img {
        width: 70%;
    }

    .apply .image img {
        width: 70%;
    }

    .team-members img {
        width: 70%;
    }
}